:root{
    --background-color: rgb(9, 6, 10);
    --panel-color: rgba(5, 4, 6);
    --flicker-off: rgb(10, 14, 22);
}

*{
    font-family: 'Comfortaa', cursive;  
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    border: none;
}

button:hover{
    cursor: pointer;
}

body{
    background-color: #0e0b20;
}

/* HEADER CONTAINER */

.header-container{
    position: relative;
    padding-bottom: 150px;
    background: url(../img/photos/about.jpg) rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0 5px 50px black, inset 0 0 100px black;
}

/* NAVIGATION BAR */

.nav-container{
    height: 140px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 15px black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    transition: all 0.25s;
}

.nav-title{
    text-align: center;
    font-size: 25px;
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    transition: all 0.25s;
    max-width: 200px;
}

.nav-title a{
    transition: all 0.25s;
}

.nav-title a:hover{
    color: rgba(167, 220, 245, 0.829);
    text-shadow: 0 0 8px #4eafff, 0 0 50px #006eff, 0 0 60px rgb(16, 45, 177);
}

.nav-title:hover{
    transform: scale(1.025);
}

.link-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 13px;
}

.link{
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(167, 220, 245, 0.829);
    text-shadow: 0 0 5px #4eafff, 0 0 10px #006eff, 0 0 25px rgb(16, 45, 177);
    transition: all 0.25s;
} 

.link a{
    font-size: 20px;
    transition: all 0.25s;
}

.link a:hover{
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
}

.link:hover{
    transform: scale(1.1);
}

.toggle-button{
    display: inline-block;
}

.nav-arrow{
    transform: rotate(90deg);
    width: 35px;
    transition: all 0.5s;
    border-radius: 50%;
    box-shadow: 0 0 2px #e33171, 0 0 10px rgb(255, 0, 93), 0 0 20px #700b30,
    inset 0 0 2px #e33171, inset 0 0 10px rgb(255, 0, 93), inset 0 0 20px #700b30;
}

.nav-arrow:hover{  
    box-shadow: 0 0 2px #4eafff, 0 0 10px #006eff, 0 0 20px rgb(16, 45, 177),
    inset 0 0 2px #4eafff, inset 0 0 10px #006eff, inset 0 0 20px rgb(16, 45, 177);
}

.st0{display:none;}
.st1{display:inline;}
.st2{fill: #fd9bbf;}

.nav-arrow:hover .st2{
    fill: rgba(167, 220, 245, 0.829);
}

/* PRESENTATION CARD */

.presentation-container{
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    height: 1200px;      
    width: max(290px, 70%);
    border: 4px solid #fd9bbf;
    box-shadow: 0 0 2px #e33171, 0 0 10px rgb(255, 0, 93), 0 0 20px #700b30,
    inset 0 0 2px #e33171, inset 0 0 10px rgb(255, 0, 93), inset 0 0 20px #700b30;
    border-radius: 20px;
    animation: presentation 4s infinite;
    transition: all 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.presentation-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
    margin: 0;
}

.presentation-title{
    text-transform: uppercase;
    color: #fd9bbf;
    text-shadow: 0 0 15px #e33171, 0 0 60px rgb(255, 0, 93), 0 0 80px #700b30;
    text-align: center;
    transition: all 0.5s;
}

.presentation-title:hover{
    cursor: default;
}

.presentation-text{
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    font-size: 18px;
    text-align: center;
    transition: all 0.5s;
}

.presentation-text:hover{
    cursor: default;
}

.presentation-image-box{
	position: relative;
}

.presentation-image{
    width: max(260px, 90%);
    height: auto;
    border-radius: 15px;
    border: 4px solid #fd9bbf;
    box-shadow: 0 0 2px #e33171, 0 0 10px rgb(255, 0, 93), 0 0 20px #700b30,
    inset 0 0 2px #e33171, inset 0 0 10px rgb(255, 0, 93), inset 0 0 20px #700b30;
    position: relative;
	z-index: 1;
    transition: all 0.5s;
}

.presentation-image:hover{
    box-shadow: 0 0 3px #e33171, 0 0 15px rgb(255, 0, 93), 0 0 30px #700b30,
    inset 0 0 3px #e33171, inset 0 0 15px rgb(255, 0, 93), inset 0 0 30px #700b30;
}

.presentation-link-list{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.presentation-link{
    width: 75px;
    height: 75px;
    border: 2px solid #fd9bbf;
    padding: 12px;
    box-shadow: 0 0 2px #e33171, 0 0 10px rgb(255, 0, 93), 0 0 20px #700b30,
    inset 0 0 2px #e33171, inset 0 0 10px rgb(255, 0, 93), inset 0 0 20px #700b30;
    border-radius: 10px;
    transition: all 0.3s;
}

.presentation-container:hover{
    box-shadow: 0 0 3px #e33171, 0 0 15px rgb(255, 0, 93), 0 0 30px #700b30,
    inset 0 0 3px #e33171, inset 0 0 15px rgb(255, 0, 93), inset 0 0 30px #700b30;
}

.presentation-link:hover{
    cursor: pointer;
}

.presentation-link-geometry-container {
    filter: url(#drop-shadows-pink);
}

.presentation-link-icon{
    fill: #fd9bbf;
}

/* MAIN CONTAINER */

.main-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#0e0b20, #250f20);
    padding: 30px;
}

/* SKILLS CONTAINER */

.skills-title{
    display: inline-block;
    margin: auto;
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    font-size: 50px;
    transition: all 0.5s;
}

.skills-title:hover{
    transform: scale(1.05);
}

.skills-container{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s;
}

.skill-item-container{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: url(#drop-shadows-pink);
    transition: all 0.35s;
}

.skill-item-container:hover{
    transform: rotate(10deg) scale(1.1);
}

.skill-item-icon{
    fill: #fd9bbf;
}

/* CHALLENGES CONTAINER */

.challenges-container{
    background: url(../img/photos/challenges.jpg) rgba(253, 21, 110, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 100px 0;
    display: flex;  
    align-items: center;
    flex-direction: column;
    gap: 100px;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.548), 0 -10px 40px black, inset 0 -10px 40px black;
}

.challenges-title{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    font-size: 35px;
    transition: all 0.5s;   
}

.challenges-title:hover{
    transform: scale(1.05);
}

.challenges-links{
    background-color: #006eff18;
    margin: 0;
    padding: 60px 20px;
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    border: 4px solid rgba(167, 220, 245, 0.829);
    box-shadow: 0 0 2px #4eafff, 0 0 10px #006eff, 0 0 20px rgb(16, 45, 177),
    inset 0 0 2px #4eafff, inset 0 0 10px #006eff, inset 0 0 20px rgb(16, 45, 177);
    border-radius: 40px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
}

.challenges-link{
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(167, 220, 245, 0.829);
    text-shadow: 0 0 5px #4eafff, 0 0 10px #006eff, 0 0 25px rgb(16, 45, 177);
    transition: all 0.25s;
} 

.challenges-link a{
    font-size: 20px;
    transition: all 0.25s;
}

.challenges-link a:hover{
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
}

.challenges-link:hover{
    transform: scale(1.1);
}

/* CONTACT */

.contact-container{
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#33162c, #008cff00);
    box-shadow: inset 0 5px 30px black;
}

.contact-title{
    display: inline-block;
    margin: auto;
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    font-size: 40px;
    transition: all 0.5s;
}

.contact-title:hover{
    transform: scale(1.05);
}

.contact-methods-container{
    margin: 50px auto;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-method{
    font-size: min(5vw, 30px);
    color: rgba(167, 220, 245, 0.829);
    text-shadow: 0 0 5px #4eafff, 0 0 10px #006eff, 0 0 25px rgb(16, 45, 177);
}

.contact-method-label{
    padding: 0;
    margin: 0;
    color: rgb(196, 234, 252);
    text-shadow: 0 0 5px #68bbff, 0 0 10px #529dff, 0 0 25px rgb(108, 129, 226);
}

/* RESPONSIVENESS */

@media (min-width: 450px){
    .skills-title{
        font-size: 80px;
    }

    .challenges-title{
        font-size: 50px;
    }

    .challenges-link a{
        font-size: 25px;
    }
}

@media (min-width: 640px){
    .nav-container{
        justify-content: center;
    }

    .nav-title{
        max-width: none;
    }

    .link-list{
        flex-wrap: wrap;
        justify-content: center;
        max-width: 400px;
    } 

    .toggle-button{
        display: none;
    }

    .presentation-container{
        height: inherit;
        padding: 30px;
        display: grid;
        grid-template-areas:
        "text text"
        "text text"
        "link image"
        "link image"; 
    }

    .presentation-description{
        grid-area: text;
    }

    .presentation-image{
        grid-area: image;

    }

    .presentation-link-list{
        grid-area: link;
        flex-direction: column;
    }

    .presentation-link:hover{
        transform: scale(1.1) rotate3d(1, 2, 1, 4deg);
    }

    .skills-title{
        font-size: 100px;
    }

    .challenges-title{
        font-size: 60px;
    }

    .challenges-link a{
        font-size: 27px;
    }
}

@media (min-width: 750px){
    .challenges-links{
        flex-direction: row;
        justify-content: space-around;
    }

    .challenges-links:hover{
        transform: scale(1.03) rotate3d(1, 2, 1, -2deg);
    }

    .challenges-link:hover{
        transform: scale(1.1) rotate3d(1, 2, 1, 4deg);
    }
}

@media (min-width: 1200px){
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .link-list{
        max-width: none;
        flex-wrap: nowrap;
    }
    
    .presentation-container{
        height: 800px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 10px 30px;
    }
    
    .presentation-description{
        padding: 0;
        max-width: 30%;
    }
    
    .presentation-image{
        width: max(400px, 35%);
    }

    .presentation-link-list{
        margin: 0;
        padding: 0;
    }

    .presentation-container:hover{
        transform: scale(1.03) rotate3d(1, 2, 1, -2deg);
    }

    .presentation-title:hover{
        transform: scale(1.2) rotate3d(1, 2, 1, 4deg);
    }
    
    .presentation-text:hover{
        transform: scale(1.05) rotate3d(1, 2, 1, 4deg);
    }

    .presentation-image:hover{
        transform: scale(1.05) rotate3d(1, 2, 1, 4deg);
    }

    .presentation-link:hover{
        transform: scale(1.2) rotate3d(1, 2, 1, 4deg);
    }
    
    .skills-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .skills-title{
        font-size: 120px;
    }
}